[Unit]
Description=Git Webhook
After=syslog.target
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/usr/local/webhook/python-github-webhooks
ExecStart=/usr/bin/env python2 -u ./webhooks.py
Restart=always
Environment=PYTHONUNBUFFERED=0

# Some distributions may not support these hardening directives. If you cannot start the service due
# to an unknown option, comment out the ones not supported by your version of systemd.
ProtectSystem=full
PrivateDevices=yes
PrivateTmp=no
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
